section#carousel
	background-color: #50A1CC
	padding-bottom: 60px
	.svg-cat
		width: 100%
		height: 390px
		display: flex
		align-items: center
		justify-content: center
		background-image: url('../../../../resources/svg/city-background.svg')
		background-repeat: no-repeat
		background-position: center 35%
		background-size: contain
		user-select: none
		img
			width: 480px
	.help-text
		margin: 30px 0
		text-align: center
	.button
		margin: 0 auto
		width: 700px
		height: 64px
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		background-color: #fff
		border-radius: 5px
		user-select: none
		transition: all .15s ease
		&:hover
			background-color: rgba(255, 255, 255, .9)
		span
			font-size: 18px