.spinner-load
  font-size: 70px
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  animation: spin .7s infinite linear
  -webkit-animation: spin .7s infinite linear
  user-select: none

@keyframes spin
  from
    transform: translate(-50%, -50%) rotate(0)
  to
    transform: translate(-50%, -50%) rotate(360deg)