.account-popup
	min-width: 290px
	background-color: #fff
	position: absolute
	top: -11px
	left: 50%
	transform: translate(-50%)
	box-shadow: 19px 8px 16px 0px rgba(0, 0, 0, 0.2)
	.account-button-popup
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		user-select: none
		span
			color: #50A1CC
			margin: 0 5px
			text-transform: uppercase
			font-size: 15px
		.fa
			color: #50A1CC
	nav
		padding: 10px 20px 20px
		ul
			li
				height: 45px
				display: flex
				align-items: center
				padding: 0 10px
				list-style-type: none
				color: #50A1CC
				text-transform: uppercase
				cursor: pointer
				font-size: 16px
				&:last-child
					border-top: 1px solid #EFEFEF
					span
						margin-left: 5px
						color: #50A1CC
					.fa
						font-size: 22px
						color: #676767
				&:hover
					color: #fff
					background-color: #50A1CC
					span
						color: #fff