section#credo
	background-color: #50A1CC
	height: 270px
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	span
		text-transform: uppercase
		color: #fff
		font-size: 32px
		font-weight: 300
		line-height: 40px
		&:nth-child(1)
			font-size: 16px