header
	background-color: #50A1CC
	height: 60px
	padding: 0 30px
	display: flex
	align-items: center
	justify-content: space-between
	.logo a
		display: block
	.button-wrap
		display: flex
		align-items: center
		.account-button, .language-button
			.text
				cursor: pointer
				display: flex
				align-items: center
				>span
					color: #fff
					margin: 0 5px
					text-transform: uppercase
					font-size: 15px
				>.fa
					color: #fff
					font-size: 16px
		>.account-button
			user-select: none
			position: relative
			img
				width: 24px
				height: 24px
				border-radius: 50%
		.language-button
			margin-left: 30px
			span
				margin-left: 0	