#reset-password
	min-height: calc(100vh - 124px)
	display: flex
	align-items: center
	justify-content: center
	.popup
		width: 720px
		background-color: #fff
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
		padding: 20px 30px
		.title
			margin-bottom: 10px
			h3
				font-weight: 500
				text-transform: uppercase
				font-size: 24px
		form
			label
				span
					display: inline-block
					margin-bottom: 10px
					font-size: 16px
				input
					width: 100%
					font-size: 16px
					padding: 7px 11px
					border: 1px solid rgba(35, 32, 32, 0.15)
					outline: none
			button
				margin-top: 15px
				background-color: #50A1CC
				padding: 0 18px
				border-radius: 5px
				font-size: 16px
				display: flex
				align-items: center
				justify-content: center
				height: 38px
				cursor: pointer
				transition: all .15s ease
				user-select: none
				color: #fff
				border: 0
				outline: none
				transition: all .15s ease
				&:hover
					background-color: #3588b4