footer
	background-color: #475699
	height: 64px
	padding: 0 20px
	display: flex
	align-items: center
	justify-content: space-between
	nav ul
		display: flex
		li
			list-style-type: none
			margin-right: 10px
			a
				color: #50A1CC
				text-decoration: none
				font-size: 13px
				transition: all .15s ease
				&:hover
					text-decoration: underline
					color: #2f79a1
	.right-side
		display: flex
		align-items: center
		.copy
			margin-right: 20px
			span
				font-size: 13px
				color: #fff
				display: inline-block
		.social
			ul
				display: flex
				li
					list-style-type: none
					margin: 0 6px
					a .fa
						font-size: 16px
						color: #50A1CC
						transition: all .15s ease
						&:hover
							color: #2f79a1