section#service-list
	padding: 30px 0
	width: 1140px
	margin: 0 auto
	.item
		width: 100%
		cursor: pointer
		padding: 25px 15px
		display: flex
		justify-content: space-between
		transition: all .15s ease
		margin: 30px 0
		&:hover
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
			background-color: #FCFCFC
		&:nth-child(even)
			.icon
				order: -1
		.info
			width: 55%
			.line
				margin: 30px 0
				width: 80px
				height: 2px
				background-color: #50A1CC
			.text
				p
					font-size: 16px
					line-height: 24px
			.title
				span
					font-size: 32px
					font-weight: 300
		.icon
			margin: 0 auto
			width: 190px
			height: 190px
			background-color: #50A1CC
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			
			img
				width: 96px
				height: 96px