.register-popup
	width: 380px
	background-color: #fff
	position: absolute
	top: -11px
	left: 50%
	transform: translate(-50%)
	box-shadow: 19px 8px 16px 0px rgba(0, 0, 0, 0.2)
	.account-button-popup
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		span
			color: #50A1CC
			margin: 0 5px
			text-transform: uppercase
			font-size: 15px
		.fa
			color: #50A1CC
	.dropdown-content
		margin: 20px
		border: 1px solid #DBDBDB
		.tabs
			display: flex
			span
				user-select: none
				background-color: #F4F4F4
				flex: 1 1
				display: flex
				align-items: center
				justify-content: center
				cursor: pointer
				height: 40px
				color: #676767
				border-bottom: 1px solid #DBDBDB
				&:nth-child(2).active
					border-left: 1px solid #DBDBDB
				&:nth-child(1).active
					border-right: 1px solid #DBDBDB
				&.active
					background-color: #fff
					border-bottom-color: transparent
		form
			display: flex
			flex-direction: column
			padding: 15px
			&.signup label
				margin-bottom: 10px
			label
				display: flex
				flex-direction: column
				margin-bottom: 20px
				input
					border: 1px solid rgba(35, 32, 32, 0.15)
					display: block
					width: 100%
					padding: 7px 12px
					font-size: 16px
					color: #676767
					&.error
						border-color: tomato
				span
					color: #676767
					margin-bottom: 10px
			button
				background-color: rgba(87, 78, 109, .65)
				width: 100%
				border-radius: 5px
				font-size: 16px
				font-weight: bold
				display: flex
				align-items: center
				justify-content: center
				height: 38px
				cursor: pointer
				transition: all .15s ease
				user-select: none
				color: #fff
				border: 0
				outline: none
				&:hover
					background-color: rgba(71, 86, 153, .65)

		.reset-password
			width: 100%
			text-align: center
			a
				text-decoration: none
				transition: all .15s ease
				color: #50A1CC
				font-size: 16px
				&:hover
					color: #2f79a1
					text-decoration: underline
			
		.social
			display: flex
			flex-direction: column
			align-items: center
			padding: 18px
			span
				font-size: 13px
				text-transform: uppercase
				font-weight: 400
				color: #676767
			ul
				display: flex
				width: 100%
				justify-content: center
				li
					margin: 2px
					list-style-type: none
					cursor: pointer
					a
						display: block
					.fa
						font-size: 47px
					&.facebook .fa
						color: #3b5998
					&.twitter .fa
						color: #4099FF
					&.google .fa
						color: #D34836
					&.linkedin .fa
						color: #0e76a8

		.rules
			margin-bottom: 15px
			display: flex
			align-items: center
			justify-content: center
			input
				font-size: 100%
			span
				margin-left: 10px
				color: #676767
				text-transform: uppercase
				font-size: 16px
				a
					text-decoration: none
					color: #50A1CC
					transition: all .15s ease
					&:hover
						color: #2f79a1
						text-decoration: underline